<div class="flex flex-row gap-x-4 divide-x divide-solid quotation-row rounded-sm hover:shadow-sm border border-gray-100 p-2 mb-2">
  <div class="flex items-center pl-4 mx-4">
    <img src="/assets/images/companies/c_{{quote?.ItemId}}_l.png" class="company-logo" (click)="showDetail()" />
  </div>
  <div class="flex justify-start align pl-4">
    
    <a mat-button [matMenuTriggerFor]="menuRef" class="txt-accent-;product-button cursor-pointer" [matTooltip]="(selectedProduct | async)?.Name">
        {{(selectedProduct | async)?.Name}}
    </a>
    
    <mat-menu #menuRef="matMenu">
        <button mat-menu-item *ngFor="let product of products | async" (click)="selectProduct(product)">
            {{product.Name}}
        </button>
    </mat-menu>
    
  </div>
  <div class="flex-initial w-20 align-middle justify-center" *ngFor="let cover of categoryCovers | async">
    <ng-container *ngIf="cover.status == 'OPTIONAL'">
      <mat-checkbox [(ngModel)]="modelName" value="" color="primary"></mat-checkbox>
    </ng-container>
    <ng-container *ngIf="cover.status == 'PRODUCT'">
      <mat-icon class="mat-18">done</mat-icon>
    </ng-container>
    <ng-container *ngIf="cover.status == 'NONE'">
      <mat-icon class="mat-18">close</mat-icon>
    </ng-container>
    
    
  </div>
  <div class="flex px-8">
    {{quote?.Products?.length}}
  </div>
</div>